<footer class="page-footer light-blue lighten-11">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">PC Builder</h5>
        <p class="grey-text text-lighten-4">Find the right parts and build your custom computer!</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="white-text" href="#!">Custom Build</a></li>
          <li><a class="white-text" href="#!">Completed Builds</a></li>
          <li><a class="white-text" href="#!">Build Guide</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">GitHub</a></li>
          <li><a class="white-text" href="#!">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <a class="white-text text-lighten-3" href="#">Benjamin Peters Web Solutions</a>
    </div>
  </div>
</footer>
