<!DOCTYPE html>
<html lang="en">
<head>

  <% include ./partials/head %>

  <style media="screen">
  body{
    background:#d5fdd5;
  }
  </style>
</head>
<body>

  <% include ./partials/nav %>

    <!--   Main Container   -->
  <div class="container">
    <div class="section">
      <div class="row center-align" style="padding:60px 0px 60px 0px; color:#6aaf6a;">
         <i class="large material-icons green-text">check</i>
         <h3>Account Successfully Created!</h3>
         <h5 class="black-text">Welcome to the PC Builder Community!</h5>
         <br>
         <a href="/login" class="btn waves-effect waves-light blue lighten-1">Login</a>
      </div>
      </div>
    </div>
  </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>
