<!DOCTYPE html>
<html lang="en">
<head>

  <% include ./partials/head %>

  <style media="screen">

  </style>
</head>
<body>

  <% include ./partials/nav %>

    <!--   Main Container   -->
  <div class="container">
    <div class="section">
      <div class="row center-align" style="padding:60px 0px 60px 0px;">
         <i class="large material-icons green-text">check</i><h3 >Account Successfully Created!</h3>
        <p>Welcome to the PC Builder Community!</p>
        <a href="/login" class="btn waves-effect waves-light blue lighten-1">Login</a>
      </div>
      </div>
    </div>
  </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>
